<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
   <div class="container">
       <!-- Logo -->
       <div class="logo-wrapper navbar-brand valign">
           <a href="#main">
               <div class="logo">
                   <img
                     src="https://cms.abpx.kz/storage/uploads/2022/07/21/62d8e024e6359white.svg" 
                     class="logo-img" 
                     alt=""
                  >
               </div>
           </a>
       </div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
         <span class="icon-bar">
            <span class="flaticon-menu"></span>
         </span> 
      </button>
       <!-- Navbar links -->
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav m-auto">
               <li class="nav-item">
                  <a class="nav-link" href="#about">
                     О комплексе
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#advantages">
                     Преимущества
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#appartaments">
                     Квартиры
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#contacts">
                     Контакты
                  </a>
               </li>
           </ul>
       </div>
       <!-- slider reservation -->
       <div class="header-reservation d-md-none d-lg-block">
           <a href="tel:{{ site_phone }}">
               <div class="call">
                  <span>
                     {{ site_phone }}
                  </span> 
                  <br>
                  Call центр
               </div>
               <div class="icon d-flex justify-content-center align-items-center">
                   <i class="flaticon-call"></i>
               </div>
           </a>
       </div>
   </div>
</nav>