<section id="about-developer" class="about-developer section-padding bg-cream">
    <div class="container">
        <div class="section-subtitle">Застройщик</div>
            <div class="section-title">Exclusive Qurylys</div>
        <div class="about-developer__block">
            <div class="row align-items-center">
                <div class="col-md-9 about-developer__info">
                    <p>
                        Exclusive Qurylys – крупнейший строительный холдинг международного уровня 
                        с полным циклом работ – от разработки концепции жилых комплексов до сдачи 
                        объектов с последующей эксплуатацией. Компания специализируется на создании 
                        масштабных жилых, социальных и коммерческих проектов с внутренней инфраструктурой, 
                        отвечающие всем современным потребностям жителей мегополиса.
                    </p>
                </div>
                <div class="col-md-3 about-developer__items">
                    <div class="about-developer__logos">
                        <a>
                            <img src="https://cms.abpx.kz/storage/uploads/2022/07/21/62d8dbb20f694Page-1.svg" alt="">
                        </a>
                        <a>
                            <img src="https://cms.abpx.kz/storage/uploads/2022/02/09/620411381e38861c9645a93a2blogo-bold-1.svg" alt="">
                        </a>
                    </div>
                    <a href="https://exin.kz/" target="_blank" class="link-btn">
                        Узнать подробнее
                    </a>
                </div>
            </div>
        </div>
        <div class="about-developer__adv about-adv">
            <div class="about-adv__item">
                <div class="about-adv__number">
                    17
                </div>
                <div class="about-adv__info-block">
                    <h3 class="about-adv__title">
                        ЖИЛЫХ<br>КОМПЛЕКСОВ
                    </h3>
                    <div class="about-adv__text">
                        <p>
                            Exclusive Qurylys – это высококвалифицированный персонал управленцев и инженерно-технического состава, усиленная база материально-технического снабжения, наличие допусков ко всем видам строительно-монтажных, отделочных и инженерных работ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-adv__item">
                <div class="about-adv__number">
                    16
                </div>
                <div class="about-adv__info-block">
                    <h3 class="about-adv__title">
                        ЛЕТ НА<br>РЫНКЕ
                    </h3>
                    <div class="about-adv__text">
                        <p>
                            Exclusive Exclusive Qurylys – это 700 000 м² построенных жилых, коммерческих и торговых помещений, 1 100 000 м² строящихся к 2023-2024 году проектов. Опыт строительно-монтажных и отделочных работ, установки инженерного оборудования, внутренних инженерных сетей и лифтов, благоустройства прилегающей площади.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="lines__wrapper container">
            <span class="lines__line lines__line--black lines__line--1"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--3"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--1"></span>
        </div>
    </div>
</section>