<!-- Filter -->
<section id="appartaments" class="pricing section-padding bg-black">
    <div class="container">
        <div class="section-subtitle"><span>Квартиры</span></div>
        <div class="section-title color-1"><span>Подбор квартиры</span></div>
        <div class="row">
            <div class="col-md-5">
                <div class="locations__filter locations-filter"></div>
                </div>
            <div class="col-md-7 locations__result locations-result">
                <div class="locations-result__carousel owl-carousel">
                </div>
            </div>
        </div>
    </div>
</section>