<!-- Building steps -->
{% if building_steps is defined and building_steps is not empty %}
    <section class="news section-padding bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"><span>Строительство</span></div>
                    <div class="section-title"><span>Ход строительства</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        {% for item in building_steps %}
                            <div class="item">
                                <div 
                                    class="position-re o-hidden building-steps__item"
                                    style="background-image: url('https://cms.abpx.kz{{ item.preview }}')" 
                                    data-gallery-images="{% for img in item.gallery %}https://cms.abpx.kz{{ img.styles[0].path }}{% if loop.last == false  %},{% endif%}{% endfor %}"   
                                >
                                    <div class="date">
                                        <a href="post.html"> 
                                            <span>{{ translate[item.format_date.month] }}</span> 
                                            <i>{{ item.format_date.year }}</i> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}