<section id="comfort" class="comfort section">
    <div class="container">
        <div class="section-title comfort__title">
            <h2 class="section-title__h2">
                <strong>Таунхаусы в лесу прямо на Достык</strong>
            </h2>
        </div>

        <div class="comfort__swiper swiper-container">
            <div class="swiper-wrapper comfort__wrapper">
                <div 
                    class="swiper-slide comfort__slide" 
                    style="background-image: 
                        url('https://cms.abpx.kz/storage/uploads/2022/06/17/62ac678323171Cam_015.jpg')"
                >
                    <span class="comfort__author-label author-label animate__animated animate__fadeIn">
                        Exclusive Almaly
                    </span>
                    <div style="display: none;" class="animate__animated animate__fadeInUp comfort__body">
                        <span class="comfort__item-sub-title">ПРИРОДА</span>
                        <h3 class="comfort__item-title"><i>Невозможно соперничать с совершенством природы, но именно проекту «Exclusive Almaly» это удается, ведь вдохновлен он природной красотой и энергетикой гор.</i></h3>
                    </div>
                </div>
                <div 
                    class="swiper-slide comfort__slide" 
                    style="background-image: 
                        url('https://cms.abpx.kz/storage/uploads/2022/06/17/62ac678323171Cam_015.jpg')"
                >
                    <span class="comfort__author-label author-label animate__animated animate__fadeIn">
                        Высокое Качество
                    </span>
                    <div style="display: none;" class="animate__animated animate__fadeInUp comfort__body">
                        <span class="comfort__item-sub-title">ПРИРОДА</span>
                        <h3 class="comfort__item-title">ПРОДАЖА КВАРТИР ПРЕМИУМ КЛАССА</h3>
                    </div>
                </div>
                <div 
                    class="swiper-slide comfort__slide" 
                    style="background-image: 
                        url('https://cms.abpx.kz/storage/uploads/2022/06/17/62ac678323171Cam_015.jpg')"
                >
                    <span class="comfort__author-label author-label animate__animated animate__fadeIn">
                        Высокое Качество
                    </span>
                    <div style="display: none;" class="animate__animated animate__fadeInUp comfort__body">
                        <span class="comfort__item-sub-title">ПРИРОДА</span>
                        <h3 class="comfort__item-title">ПРОДАЖА КВАРТИР ПРЕМИУМ КЛАССА</h3>
                    </div>
                </div>
                <div 
                    class="swiper-slide comfort__slide" 
                    style="background-image: 
                        url('https://cms.abpx.kz/storage/uploads/2022/06/17/62ac678323171Cam_015.jpg')"
                >
                    <span class="comfort__author-label author-label animate__animated animate__fadeIn">
                        Высокое Качество
                    </span>
                    <div style="display: none;" class="animate__animated animate__fadeInUp comfort__body">
                        <span class="comfort__item-sub-title">ПРИРОДА</span>
                        <h3 class="comfort__item-title">ПРОДАЖА КВАРТИР ПРЕМИУМ КЛАССА</h3>
                    </div>
                </div>
                <div 
                    class="swiper-slide comfort__slide" 
                    style="background-image: 
                        url('https://cms.abpx.kz/storage/uploads/2022/06/17/62ac678323171Cam_015.jpg')"
                >
                    <span class="comfort__author-label author-label animate__animated animate__fadeIn">
                        Высокое Качество
                    </span>
                    <div style="display: none;" class="animate__animated animate__fadeInUp comfort__body">
                        <span class="comfort__item-sub-title">ПРИРОДА</span>
                        <h3 class="comfort__item-title">ПРОДАЖА КВАРТИР ПРЕМИУМ КЛАССА</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="lines__wrapper container">
            <span class="lines__line lines__line--black lines__line--1"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--3"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--1"></span>
        </div>
    </div>
</section>