<!-- Kostruct -->
<section class="facilties section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Конструктив здания</div>
                <div class="section-title">Конструктив здания и фундамента</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Окна</h5>
                    <p>
                        Энергосберегающие, дерево-алюминиевые, двойной стеклопакет. 
                        Витраж алюминиевый теплой серии от «Shuco».
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Каркас и колонны</h5>
                    <p>
                        Монолитный, армированный железобетон для зданий и сооружений.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Фундамент и несущий каркас</h5>
                    <p>
                        Монолитный железобетонный.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Наружные стены</h5>
                    <p>
                        Монолитная железобетонная стена, утепленная экструзионными 
                        пенополистирольными плитами.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Фасад</h5>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Стены</h5>
                    <p>We’ll pick up from airport while you comfy on your ride, mus nellentesque habitant.</p>
                </div>
            </div>
        </div>
    </div>
</section>