<!-- Kostruct -->
<section class="facilties section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Конструктив здания</div>
                <div class="section-title">Конструктив здания и фундамента</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Окна</h5>
                    <p>
                        Энергосберегающие, дерево-алюминиевые, двойной стеклопакет. 
                        Витраж алюминиевый теплой серии от «Shuco».
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Каркас и колонны</h5>
                    <p>
                        Монолитный, армированный железобетон для зданий и сооружений.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Фундамент и несущий каркас</h5>
                    <p>
                        Монолитный железобетонный.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Наружные стены</h5>
                    <p>
                        Монолитная железобетонная стена, утепленная экструзионными 
                        пенополистирольными плитами.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Фасад</h5>
                    <p>
                        В отделке экстерьера нашли отражение принципы роскошного и классического стиля: 
                        фасады из натурального камня, металлические декоративные элементы, витражи.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                    <span class="flaticon-menu"></span>
                    <h5>Шумоизоляция</h5>
                    <p>
                        Для эффективной шумоизоляции используются материалы известных 
                        брендов таких как Rockwool, Технониколь, Izobox, Izover
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>