<section id="park-almaly" class="section park-almaly">
    <div class="container">
        <div class="flex park-almaly__flex">
            <div class="flex__7 park-almaly__swiper-block">
                <div class="park-almaly__swiper swiper-container">
                    <div class="swiper-wrapper">
                        <div 
                            class="swiper-slide park-almaly__slide" 
                            style="background-image: url('assets/img/park-image.jpg')"
                        >
                            <a 
                                class="park-almaly__link" 
                                href="#" 
                            >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex__5">
                <div class="section-title">
                    <h2 class="section-title__h2">
                        <strong>ландшафтный</strong> парк <br>у дома
                    </h2>
                </div>
                <p>
                    Жизнь в окружении природы на берегу горной реки, не съезжая с проспекта 
                    Достык – это реальность для резидентов Exclusive Almaly.
                </p>
                <p>
                    Рядом с ЖК проходят несколько экотроп с живописными видами 
                    и каждое лето таунхаусы утопают в зелени вековых деревьев.
                </p>


                    
                <div class="park-almaly__controll park-almaly__controll--left">
                    <img src="assets/img/icons/arrow.svg">
                </div>
                <div class="park-almaly__controll park-almaly__controll--right">
                    <img src="assets/img/icons/arrow.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="lines__wrapper container">
            <span class="lines__line lines__line--black lines__line--1"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--3"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--1"></span>
        </div>
    </div>
</section>