<!-- Slider -->
<header id="main" class="header slider-fade">
    <div class="owl-carousel owl-theme">
        <div class="text-center item bg-img" data-overlay-dark="4" data-background="https://cms.abpx.kz/storage/uploads/2022/07/21/62d8deeb5b24fC4_2.jpg">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <h4>Искусство идеальной жизни</h4>
                            <h1>Exclusive Opera</h1>
                            <div class="butn-light mt-30 mb-30"> 
                                <a href="#appartaments">
                                    <span>Квартиры</span>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="4" data-background="https://cms.abpx.kz/storage/uploads/2022/07/21/62d8ded61d6faC2_2.jpg">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <h4>Искусство идеальной жизни</h4>
                            <h1>Exclusive Opera</h1>
                            <div class="butn-light mt-30 mb-30"> 
                                <a href="#appartaments">
                                    <span>Квартиры</span>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="4" data-background="https://cms.abpx.kz/storage/uploads/2022/07/21/62d8defeb3791C6_2.jpg">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <h4>Искусство идеальной жизни</h4>
                            <h1>Exclusive Opera</h1>
                            <div class="butn-light mt-30 mb-30"> 
                                <a href="#appartaments">
                                    <span>Квартиры</span>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="developer__logo">
            <a href="https://exin.kz/" target="_blank">
                <img 
                    src="https://cms.abpx.kz/storage/uploads/2022/07/24/62ddd1ea62c6c61c9645a93a2blogo-bold-1.svg" 
                    class="developer__img"
                >
            </a>
        </div>
    </div>
</header>